@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	outline: none;
}
/* End Reset CSS */
/* Impression */
.upperF {
  height: 100vh;
  background-color: #1e1e1e;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.amilogo{
  width: 18%;
  height: auto;
  border-radius: 50%;
}
.firstTitle{
  font-size: 6.5vw;
  color: #efefef;
  vertical-align: middle;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-decoration: none;
}
.sbs{
  display: flex;
}
	/* Laser Button */
	.laserBtn {
	  box-sizing: border-box;
	  appearance: none;
	  background-color: #126de5;
	  border: 2px solid #126de5;
	  border-radius: 2000em;
	  color: #126de5;
	  cursor: pointer;
	  display: flex;
	  align-self: center;
	  font-family: 'Ubuntu', sans-serif;
	  font-size: 1.3vw;
	  font-weight: 400;
	  line-height: 1;
	  margin: 4vh;
	  padding: 1.2em 2.8em;
	  text-decoration: none;
	  text-align: center;
	  text-transform: uppercase;
	}
	.vzb{
	  border-color: #126de5;
	  color: #fff;
	  box-shadow: 0 0 40px 40px #126de5 inset, 0 0 0 0 #126de5;
	  transition: all 210ms ease-in-out;
	}
	.vzb:hover {
	 transform: scale(1.17);
	 margin-left: 2.8vw;
	 margin-right: 2.8vw;
	}

	/* End Laser Button */
/* End Impression */
/* Beef */
.paddingDivF{
	display: flex;
	padding: 4vh;
	width: 75vw;
	text-align: center;
	align-items: center;
}
.featureHeader{
	font-family: 'Ubuntu', sans-serif;
	font-size: 3.1vw;
	font-weight: 700;
}
.featureDescription{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8vw;
	font-weight: 300;
	padding-top: 2vh;
}
.featureUnderline{
	width: 1vw;
	height: 25vh;
	background-color: white;
	text-align: center;
	margin: 4vh;
}
.firstF{
	display: flex;
	text-align: center;
	justify-content: center;
  height: 55vh;
  background-color: #0f0f0f;
	color: #efefef;
}
.linearGradOne{
	height: 3vh;
	background: linear-gradient(#1e1e1e, #0f0f0f);
}
.secondF{
	display: flex;
	text-align: center;
	justify-content: center;
  height: 55vh;
  background-color: #181818;
	color: #efefef;
}
.linearGradTwo{
	height: 2vh;
	background: linear-gradient(#0f0f0f, #181818);
}
.thirdF{
	display: flex;
	text-align: center;
	justify-content: center;
	height: 55vh;
	color: #efefef;
  background-color: #0f0f0f;
}
.linearGradThree{
	height: 4vh;
	background: linear-gradient(#181818, #0f0f0f);
}

/* End Laser Button */

/* Footer */
.linearGradFour{
	height: 4vh;
	background: linear-gradient(#0f0f0f, black);
}
.footer {
  width: 100%;
  height: 26vh;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footerTextDiv {
  color: white;
  font-size: 3vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.footerText {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
	font-family: 'Ubuntu';
	font-weight: 400;
}

.footerTextDiv a {
    transition: all 500ms;
}

.footerTextDiv a:hover {
    font-size: 3.8vh;
}
.copyrightP{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 6vh;
  z-index: -1;
  font-family: 'Ubuntu';
  font-weight: 400;
}
.bigFooterDiv{
display: flex;
justify-content: center;
z-index: 1;
}
/* End Footer */

/* Misc */
.nodrag{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nodecor{
text-decoration: none;
color: #ffffff;
text-decoration-line: none;
}
.nodecor a:link {
    color: #ffffff;
}

.nodecor a:visited {
    color: #ffffff;
}

.nodecor a:hover {
    color: #ffffff;
}
.nodecor a:active {
    color: #ffffff;
}
/* End Misc */
/* Media Queries / Mobile Optimization */
@media only screen and (max-width: 750px) {
    .sbs{
	    flex-direction: column !important;
			align-items: center;
		}
		.laserBtn{
			 padding: 1.5em 5em;
			 font-size: 4vw;
		}
		.vzb:hover {
		 	transform: scale(1);
		 	margin-left: 0vw;
		 	margin-right: 0vw;
		}
		.amilogo{
			width: 45%;
		}
		.firstTitle{
			font-size: 18vw;
		}
		.firstF, .secondF, .thirdF{
			height: 55vh;
		}
		.featureUnderline{
			height: .3vh;
			width: 35vw;
		}
		.paddingDivF{
			flex-direction: column;
		}
		.featureHeader{
			font-size: 7vw;
		}
		.featureDescription{
			font-size: 5vw;
		}
		.footer{
			height: 62vh;
		}
		.footerTextDiv{
			display: flex;
			flex-direction: column;
		}
		.footerText{
			padding-bottom: 1.5vh;
			padding-top: 1.5vh;
		}
		.copyrightP{
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  text-align: center;
		  margin-top: 10vh;
		  z-index: -1;
		  font-family: 'Ubuntu';
		  font-weight: 400;
				align-items: flex-end;
		}
		.bigFooterDiv{
		display: flex;
		justify-content: center;
		z-index: 1;
			align-items: flex-end;
		}
}
/* End Mobile Optimization */
.gradientOne{
	background: linear-gradient(to right, #70C2DA, #22C846);
	width: 100%;
	height: 20vh;
	position: relative;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.triangle-0 {
  width: 120px;
  height: 60px;
  border-right: solid 60px rgb(20,20,20);
  border-bottom: solid 30px rgb(20,20,20);
  border-top: solid 30px transparent;
  border-left: solid 60px transparent;
  margin-left: -2px;
}
.triangle-1 {
  width: 120px;
  height: 60px;
  margin-right: -2px;
  border-left: solid 60px rgb(20,20,20);
  border-bottom: solid 30px rgb(20,20,20);
  border-top: solid 30px transparent;
  border-right: solid 60px transparent;
}
