@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');

/* Reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.footer {
  width: 100vw;
  height: 25vh;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footerTextDiv {
  color: white;
  font-size: 3vh;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.footerText {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
	font-family: 'Ubuntu';
	font-weight: 400;
}

.footerTextDiv a {
    transition: all 500ms;
}

.footerTextDiv a:hover {
    font-size: 3.8vh;
}

.featureHeader{
	font-family: 'Ubuntu', sans-serif;
	font-size: 4vw;
	font-weight: 700;
}

.featureDescription{
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.8vw;
	font-weight: 300;
	padding-top: 2vh;
}

.featureUnderline{
	width: 1vw;
	height: 25vh;
	background-color: white;
	text-align: center;
	margin: 4vh;
}

.sWidth{
	width: 48vw;
}

.paddingDivF{
	display: flex;
	padding: 4vh;
	width: 75vw;
	text-align: center;
	align-items: center;
}

.linearGradOne{
	height: 3vh;
	background: linear-gradient(#1e1e1e, #0f0f0f);
}
.linearGradTwo{
height: 2vh;
background: linear-gradient(#0f0f0f, #9E9E9E);
}

.linearGradThree{
	height: 4vh;
	background: linear-gradient(#9E9E9E, #000000);
}

.firstF{
	display: flex;
	text-align: center;
	justify-content: center;
  height: 55vh;
  background-color: #0f0f0f;
	color: #efefef;
	text-align: center;
}

.secondF{
  height: 55vh;
  background-color: #9E9E9E;
color: #121212;
}

.thirdF{
  height: 55vh;
color: #efefef;
  background-color: #0f0f0f;
}

.sbs{
  display: flex;
}

.upperF {
  height: 100vh;
  background-color: #1e1e1e;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.amilogo{
  width: 18%;
  height: auto;
  border-radius: 50%;
}

.nodrag{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.firstTitle{
  font-size: 6.5vw;
  color: #efefef;
  vertical-align: middle;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-decoration: none;
}

.pentahedron{
  position: absolute;
  width: 100%;
  height: 100%;
  fill: #3E82F7;
}
.point{
  fill: #8491A3;
}
.rhombus{
  fill: #2DA94F;
  stroke: #2DA94F;
}
.x{
  fill: #FDBD00;
}
.circle{
  fill: #ED412D;
}

svg{
  display: block;
  width: 3.5vw;
  height: 3.5vw;
  position: absolute;
  transform: translateZ(0px);
}

/* Start Laser Button */

/* Basic Button Style */

.laserBtn {
  box-sizing: border-box;
  appearance: none;
  background-color: #126de5;
  border: 2px solid #126de5;
  border-radius: 2000em;
  color: #126de5;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1;
  margin: 4vh;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.laserBtn:hover, .laserBtn:focus {
  color: #fff;
  outline: 0;
}

.vzb {
  border-color: #126de5;
  color: #fff;
  box-shadow: 0 0 40px 40px #126de5 inset, 0 0 0 0 #126de5;
  transition: all 150ms ease-in-out;
}

.vzb:hover {
background-color: transparent;
  box-shadow: 0 0 10px 0 #126de5 inset, 0 0 10px 4px #126de5;
}

.nodecor{
text-decoration: none;
color: #ffffff;
text-decoration-line: none;
}

.nodecor a:link {
    color: #ffffff;
}

.nodecor a:visited {
    color: #ffffff;
}

.nodecor a:hover {
    color: #ffffff;
}



.nodecor a:active {
    color: #ffffff;
}
/* End Laser Button */
